/*Configuracion general*/
*{
	margin: 0px;
	padding: 0px;
}

/*Configuracion del body*/
body{
	width: 1000px;
	margin: auto;
	margin-top: 5px;
	overflow: auto;

	font: .74em Tahoma, Verdana, Sans-Serif, Arial;
	background-color: white;
}

/*configuracion de la cabecera*/
#cabecera{
	height: 50px;
	border: 2px solid #4682B4;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	font-family: ubuntu , sans-serif ;
	font-size: 3em;
	background-color: white;
	text-align: center;
}

/*Configuracion enlaces de la cabecera*/
#cabecera a{
	text-decoration: none;
	color: black;
}

#cabecera #sectionUsuarios{
	float: right;
	width: 200px;
	height: 100%;
	border-left: 2px #4682B4 dashed;
	font-size: 15px;
}

#cabecera #sectionUsuarios article{
	margin: 5px;
}

#cabecera #sectionUsuarios article a:hover{
	margin: 5px;
	text-decoration: underline;
}

	/* Quita los cuadros de los botones de los formularios */
.formA input{
	background-color: inherit;
	border: none;
	color: black;
}

.formA input:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* FIN #cabecera*/

/*configuracion del menu de secciones*/
#menu{
	height: 30px;
	background: black;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

/* Configuracion del menu y submenu */
ul{
  list-style: none;
}
#menu #menu2{
	margin-left: 200px;
}
#menu2 li>a{
  color: white;
  padding: 6.5px;
  display: block;
  text-decoration: none;
  min-width: 80px;
}
#menu2 li>a:hover{
	background-color: white;
	color: black;
}
#menu2>li{
  float: left;
  text-align:center
}
#menu2>li>ul{
	position: absolute;
  display: none;
}
#menu2>li:hover>ul {
  display:block;
	color: white;
	background-color: black;
}

/*Configuracion para las distintas secciones del menu de secciones*/
#a0:hover{
	border-bottom: 3px solid #008000;
}

#a1:hover{
	border-bottom: 3px solid #B22222;
}

#a2:hover{
	border-bottom: 3px solid #DAA520;
}

#a3:hover{
	border-bottom: 3px solid #4169E1;
}

#menu #insertarNoticia{
	border-left: 2px solid white;
	padding-left: 15px;
	padding-right: 15px;
}

#cuerpo{
	float:left;
	width: 80%;
	margin:auto;
	/*border: 1px blue solid;*/ /*-----------*/
}

#oculto{
	display: none;
}
