/*CSS noticia*/
#seccion{
	float: left;
	padding: 2px;
	font-size: 18px;
	font-family: serif;
	font-style: bold;
	width: 100%;
}

#seccion #textSeccion{
	padding: 0 8px 0 8px;
	float: left;
	border-bottom: 2px solid #4682B4;
	border-radius: 5px;
}

#seccion #textSeccion a{
	color: black;
}

#seccion a#editarNoticia{
	float: right;
	text-decoration: none;
	color: black;
	margin-right: 50px;
}

#seccion #editarNoticia:hover{
	text-decoration: underline;
}

#titulo{
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	float: left;
	clear: left;
}
#subtitulo{
	padding: 5px;
	font-size: 20px;
	float: left;
	clear: left;
}
#subtitulo p{
	float:left;
}

#entradilla{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	float: left;
	clear: left;
}
#emisor{
	padding: 5px;
	font-style: italic;
	font-weight: bold;
	float: left;
	clear: left;
	clear: right;
}
/*#cuerpoNoticia{
	padding: 5px;
}
#cuerpoNoticia p{
	font-size: 15px;
	padding-bottom: 5px;
}*/

#textoNoticia {
	margin-left: 2px;
	float: left;
	width: 98%;
	font-size: 15px;
}

#textoNoticia img{
	float:right;
	margin: 2px;
	margin-left: 5px;
	width: 35%;
}


#olista{
	float: left;
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
}
#olista li{
	margin-left: 30px;
	padding-left: 5px;
	font-weight: normal;
}
